package models

{{$initns := .Target.InitNameSpace -}}
import (
	"gitea.com/azhai/refactor/config"
	{{- range $dir, $al := .Imports}}
	{{if ne $al $dir}}{{$al}} {{end -}}
	"{{$initns}}/{{$dir}}"{{end}}
)

var (
	configFile = "../settings.yml"
	cfg        *config.Settings
	verbose    bool
)

func init() {
	err := InitSettings(configFile)
	if err != nil {
		panic(err)
	}
	confs := cfg.GetConnConfigMap()
	for key, c := range confs {
		switch key {
		{{- range $dir, $al := .Imports}}
		case "{{$dir}}":
			{{$al}}.Initialize(c, verbose){{end}}
		}
	}
}

func InitSettings(fileName string) (err error) {
	cfg, err = config.ReadSettings(fileName)
	if err == nil && cfg != nil {
		verbose = cfg.Application.Debug
	}
	return
}
