package models

{{$initns := .Target.InitNameSpace -}}
import (
	"github.com/azhai/refactor/cmd"
	"github.com/azhai/refactor/config"

	{{- range $dir, $al := .Imports}}
	{{if ne $al $dir}}{{$al}} {{end -}}
	"{{$initns}}/{{$dir}}"{{end}}
)

var (
	configFile = "../settings.yml"
)

func init() {
	settings := cmd.Prepare(configFile)
	ConnectDatabases(settings.GetConnConfigMap())
}

func ConnectDatabases(confs map[string]config.ConnConfig) {
	verbose := cmd.Verbose()
	for key, c := range confs {
		r, _ := config.NewReverseSource(c)
		switch key {
		{{- range $dir, $al := .Imports}}
			case "{{$dir}}":
			{{$al}}.Initialize(r, verbose){{end}}
		}
	}
}
